$primary_color: #edac1f;
$secondary_color: #ababab;
$main_color: #212121;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  // background-color: red;
}

nav {
  //background-color: rgba(0, 0, 0, 0.5);
  .nav-main {
    li {
      padding: 0 1rem;
    }
  }
  position: fixed !important;
  z-index: 100 !important;
  left: 0;
  top: 0;
  width: 100% !important;
  margin: 0 !important;
  a {
    color: #fff !important;
  }
  .navbar {
    &-brand {
      img {
        width: 180px;
        height: auto;
      }
      .scroll-img {
        width: 50%;
      }
    }
  }
  .nav-social li {
    display: flex;
    justify-content: space-around i !important;
    align-items: center !important;
    padding: 5px !important;
  }
  .nav-social-colored {
    li a {
      color: #edac1f !important;
    }
  }
  .nav-social-transparent {
    li a {
      color: #fff !important;
    }
  }
}
.nav-colored {
  .navbar-nav {
    .nav-item.active a {
      color: $primary_color !important;
      font-weight: bold;
      // text-shadow: 1px 1px $secondary_color;
      // border-bottom: 2px solid $primary_color;
    }
  }
  background-color: #fff !important;
  -webkit-box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.75);
  a {
    color: black !important;
  }
}
.nav-transparent {
  background-color: transparent !important;
}

.hero {
  background: #333 url('https://i.ibb.co/d7KDHFW/hero.png') no-repeat center center/cover;
  color: #fff;
  min-height: 700px;
  position: relative;

  .hero-content {
    display: flex;
    // justify-content: center;
    align-items: center;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: right !important;
    height: 100%;
    line-height: 1.4;

    .hero-container {
      max-width: 600px;
      margin: 0 4rem;
      // margin: auto;
      h1 {
        line-height: 1.5;
        margin-bottom: 3rem;
      }
      h5 {
        margin-bottom: 2rem;
      }
      a {
        width: 20%;
      }
    }
  }
}

//  Slider
#slider {
  .slider-container {
    float: left;
    direction: ltr;

    .slider-content {
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
    .navs {
      padding-bottom: 50px;
      .slider_nav {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      p,
      span {
        font-size: 1.2rem;
      }
    }
  }
  height: 300px;
  width: 100%;
  //position: absolute;
  //top: calc(100vh - 80px);
  // bottom: 0;
  // left: 0;
  margin-top: -130px;
  .slider-items {
    width: 100%;
    height: 300px;
    .slider-item {
      padding: 0;
      img {
        width: 300px;
        height: 300px;
        padding: 0;
      }
    }
  }
}

.arabian-horses {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  &-items {
    width: 100%;
    padding-top: 55px !important;

    &_item {
      max-width: 100%;
      img {
        width: 50px;
        height: auto;
      }
    }
  }
}

.horses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background-color: #f9f9f9;
  &_title {
    margin-top: 40px;
  }
  .btn-filters {
    li {
      background-color: #cbcbcb;
      margin: 0 5px;
      color: #fff;
      padding: 2px 20px;
    }
    .active {
      background-color: #edac1f !important;
    }
  }

  &_location {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    li {
      padding: 0 8px;
    }
  }
  &_items {
    &__content {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 15px;

      &__tags {
        display: flex;
        li {
          color: darken(#cbcbcb, 30%);
          background-color: #fff;
          border-radius: 20px;
          padding: 2px 10px;
          margin: 0 5px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      z-index: 3;
    }
  }

  .card {
    border: none !important;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 16px;
  width: 92%;
  z-index: 2;
  height: 100%;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
}

.news {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  flex-direction: column;

  &_title {
    text-align: center;
  }
  .btn-filters {
    li {
      background-color: #cbcbcb;
      margin: 0 5px;
      color: #fff;
      padding: 2px 20px;
    }
    .active {
      background-color: #edac1f !important;
    }
  }

  .news_items {
    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-basis: 1;
      flex-grow: 1;

      margin: 10px 0;

      .news_img {
        width: 100%;
        height: 100%;
      }
      img {
        height: 200px;
        width: 210px;
      }
      .news_content {
        padding-right: 15px;
        display: flex;
        height: 100%;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
      }
    }
  }
}

.subscribe {
  background: #333 url('https://i.ibb.co/Gf6CXw2/subscribe.png') no-repeat center center/cover;
  color: #fff;
  margin-top: 60px;
  // min-height: 400px;
  height: 450px;
  position: relative;
  &-items {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
  }
  .subscribe-content {
    justify-content: center;
    max-width: 800px;
    margin: auto;
    text-align: center;
    h3,
    h6 {
      margin: 20px auto;
    }
  }
  .subscribe-form {
    direction: ltr;
    display: flex;
    .subscribe-btn {
      border: 1px solid #fff;
      // height: 94%;
      background-color: #edac1f;
      color: #fff;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: lighten(#edac1f, 10%);
      }
    }
  }
}

.footer {
  .footer-logo-section {
    img {
      width: 180px;
      height: auto;
      margin-bottom: 30px;
    }
  }
  li {
    padding: 10px 0;
    a {
      color: $secondary_color;
      text-decoration: none;
    }
    i {
      color: $secondary_color;
    }
  }
  .footer-contents {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .footer-sections {
    display: flex;
    justify-content: center;

    .section-3,
    .section-2,
    .section-1 {
      padding: 0 30px;
    }
  }
  .section-3 {
    select {
      border: 1px solid $secondary_color;
      border-radius: 3px;
      padding: 5px 25px;
      color: $secondary_color;
    }
    .btn-lang {
      border: 1px solid $secondary_color;
      border-radius: 3px;
      padding: 5px 25px;
      color: $secondary_color;
    }
    .dropdown-toggle::after {
      margin: 0 10px;
    }
    .dropdown-menu.show .dropdown-item {
      color: $secondary_color !important;
    }
  }

  .last-row {
    background-color: lighten(#ababab, 30%);
  }

  .madeby-items {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .madeby-item p {
      margin-bottom: 0;
    }
    .madeby-item img {
      width: 30px;
      height: 30px;
    }
    ul {
      flex-direction: row;
      display: flex;
      margin-bottom: 0;
      li i {
        padding: 0 12px;
        color: $main_color;
      }
    }
  }
}

.navbar-light .navbar-toggler-icon {
  border: 2px solid #fff !important;
  // background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

@media screen and (max-width: 414px) {
  footer {
    .footer-contents img {
      width: 70%;
      height: auto;
    }
    .footer-sections {
      display: flex;
      flex-direction: column;
    }
    .madeby-items {
      flex-direction: column;
      margin-top: 30px;
    }
    .footer-logo-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 50px;
    }
  }
  .news {
    .news_items__item {
      flex-direction: column;
      padding: 20px 15px;
      img {
        width: 100%;
        border-radius: 10px;
      }
    }
  }

  .hero {
    .hero-content {
      .hero-container {
        h1 {
          font-size: 20px;
        }
        h5 {
          font-size: 14px;
        }
        a {
          width: 60%;
        }
      }
    }
  }
  nav {
    .navbar-brand {
      img {
        width: 100px;
      }
      .scroll-img {
        width: 100px;
        img {
          width: 100px;
        }
      }
    }
    a {
      text-align: center !important;
    }
    .nav-main {
      li {
        border-bottom: 1px solid #fff;
        padding: 10px 0;
      }
    }
  }
  .nav-transparent {
    background: rgba(0, 0, 0, 0.9) !important;
  }
  .nav-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    li {
      a {
        padding: 0 12px;
      }
    }
  }
}

//       About us
.secondary-nav {
  background-color: #fff !important;
  -webkit-box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.35);
  a {
    color: $main_color !important;
  }
  .navbar-brand {
    img {
      width: 130px;
    }
  }
  .nav-secondary-main {
    li {
      a {
        color: $main_color !important;
      }
    }
  }
  .nav-social {
    li {
      a {
        color: $primary_color !important;
      }
    }
  }
  .nav-item {
    padding: 0 20px;
  }
  .nav-item.active {
    a {
      color: $primary_color !important;
      font-weight: bold;
      // border-bottom: 2px solid $primary_color;
    }
  }
}

@mixin clearfix() {
  &::after {
    display: block;
    content: '';
    clear: both;
  }
}
.element {
  @include clearfix;
}

.section-hero {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  > div {
    width: 50%;
  }
  .aboutus-img {
    text-align: left;
    img {
      width: 500px;
      height: auto;
    }
  }
  &__content {
    padding-right: 50px;
  }

  &__title {
    color: $primary_color;
    margin-bottom: 35px;
  }
  &__text {
    color: $main_color;
  }
}

.uniform {
  margin-top: 55px;
  h1 {
    text-align: center;
  }
  img {
    width: 70%;
    height: auto;
  }
  &-content {
    justify-content: center;
    align-items: center;
    &__img {
      &.left {
        text-align: left;
      }
      &.right {
        text-align: right;
      }
    }

    &__text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      p {
        color: $secondary_color;
        margin-top: 30px;
      }
      h2 {
        color: $main_color;
        margin-bottom: 20px;
      }
    }
  }
}

.advantages {
  h1 {
    text-align: center;
  }
  img {
    width: 100%;
    height: auto;
  }
  h3,
  p {
    text-align: right;
  }
}

.gallery {
  .main-img img {
    width: 94%;
    height: auto;
    padding-bottom: 25px;
  }
  .sub-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      height: auto;
      padding-bottom: 25px;
    }
  }
  .btn-filters {
    li {
      background-color: #cbcbcb;
      margin: 0 5px;
      color: #fff;
      padding: 2px 20px;
    }
    .active {
      background-color: #edac1f !important;
    }
  }
}

@media screen and (max-width: 414px) {
  .section-hero {
    flex-direction: column;
    margin-top: 150px;
    > div {
      width: 100%;
    }
    &__content {
      padding: 15px;
      text-align: justify;
    }
    .aboutus-img {
      img {
        width: 100%;
      }
    }
  }
  .gallery {
    .btn-filters {
      li {
        width: 100%;
        margin: 5px auto !important;
      }
    }
  }
  .btn-filters {
    li {
      width: 100%;
      margin: 5px auto !important;
    }
  }
}
.active-horses {
  margin-top: 120px;
  h2 {
    margin-top: 50px;
  }
  .pagination {
    .btn-more {
      background-color: $primary_color;
      color: #fff;
      width: 20%;
      margin: 30px auto;
    }
  }
}

.gallery {
  .gallery-img {
    img {
      transition: all 0.3s ease;
      cursor: pointer;
    }
  }
}

// gallery preview
.gallery-sliders {
  // display: flex;
  // flex-wrap: wrap;
}
// .gallery-sliders .image {
//   padding: 7px;
//   width: calc(100% / 3);
// }
.gallery-sliders {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  .image:first-child {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
  }
  .image:last-child {
    grid-row: 3 / span 2;
    grid-column: 3 / span 2;
  }
}
.gallery-sliders .image span {
  display: flex;
  width: 100%;
  overflow: hidden;
}
.gallery-sliders .image img {
  width: 100%;
  vertical-align: middle;
  transition: all 0.3s ease;
}
.gallery-sliders .image:hover img {
  transform: scale(1.1);
}

.preview-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  background: #fff;
  max-width: 700px;
  width: 100%;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  border-radius: 3px;
  padding: 0 5px 5px 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
.preview-box.show {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s ease;
  height: 100vh;
  z-index: 555;
}
.preview-box .details {
  display: flex;
  align-items: center;
  padding: 12px 15px 12px 10px;
  justify-content: space-between;
}
.preview-box .details .title {
  display: flex;
  font-size: 18px;
  font-weight: 400;
}
.details .title p {
  margin: 0 5px;
}
.details .title p.current-img {
  font-weight: 500;
}
.details .icon {
  color: #007bff;
  font-size: 20px;
  cursor: pointer;
}
.preview-box .image-box {
  display: flex;
  width: 100%;
  position: relative;
}
.image-box .slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  height: 50px;
  width: 60px;
  line-height: 50px;
  text-align: center;
  border-radius: 3px;
}
.slide.prev {
  left: 0px;
}
.slide.next {
  right: 0px;
}
.image-box img {
  width: 100%;
  height: 90%;
  border-radius: 0 0 3px 3px;
}
.shadow {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: none;
  background: rgba(0, 0, 0, 0.45);
}

@media (max-width: 1000px) {
  .gallery-sliders .image {
    width: calc(100% / 2);
  }
}
@media (max-width: 600px) {
  .gallery-sliders .image {
    width: 100%;
    padding: 4px;
  }
}

@media screen and (max-width: 414px) {
  .gallery-sliders {
    display: flex;
    flex-direction: column;
  }
}

// contact us
.contactus {
  &-container {
    max-width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 116px;
    .contactus-img {
      max-width: 600px;
      max-height: 800px;
      img {
        width: 100%;
      }
    }
    .contactus-content {
      padding: 40px;
      h1 {
        color: $main_color;
      }
      p {
        color: $secondary_color;
      }
      .contactus-form {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .control-group {
          display: flex;
          flex-direction: column;
          margin: 10px 0;
        }
        input[type='text'],
        input[type='email'],
        textarea {
          padding: 12px;
          margin: 5px;
          border: 1px solid #d2d2d2;
          background-color: #f9f9f9;
          border-radius: 3px;
        }

        input[type='submit'] {
          padding: 7px 12px;
          // margin-top: 10px;
          margin: 10px 5px;
          border-radius: 3px;
          // border: 1px solid $primary_color;
          border: 1px solid $primary_color;
          background-color: $primary_color;
          color: #fff;
        }
        input:focus {
          border: 2px solid $primary_color;
          outline: $primary_color;
          -webkit-box-shadow: 1px 3px 15px 5px rgba(0, 0, 0, 0.15);
          -moz-box-shadow: 1px 3px 15px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 1px 3px 15px 5px rgba(0, 0, 0, 0.15);
        }
        textarea:focus {
          border: 2px solid $primary_color;
          outline: $primary_color;
          -webkit-box-shadow: 1px 3px 15px 5px rgba(0, 0, 0, 0.15);
          -moz-box-shadow: 1px 3px 15px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 1px 3px 15px 5px rgba(0, 0, 0, 0.15);
        }
        input[type='submit'] {
          cursor: pointer;
        }
        ::placeholder {
          color: $secondary_color;
        }
      }
    }
  }
}

@media (max-width: 414px) {
  .contactus-container {
    display: flex;
    flex-direction: column-reverse;
  }
}
