* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  position: fixed !important;
  z-index: 100 !important;
  left: 0;
  top: 0;
  width: 100% !important;
  margin: 0 !important;
}

nav .nav-main li {
  padding: 0 1rem;
}

nav a {
  color: #fff !important;
}

nav .navbar-brand img {
  width: 180px;
  height: auto;
}

nav .navbar-brand .scroll-img {
  width: 50%;
}

nav .nav-social li {
  display: flex;
  justify-content: space-around i !important;
  align-items: center !important;
  padding: 5px !important;
}

nav .nav-social-colored li a {
  color: #edac1f !important;
}

nav .nav-social-transparent li a {
  color: #fff !important;
}

.nav-colored {
  background-color: #fff !important;
  box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.75);
}

.nav-colored .navbar-nav .nav-item.active a {
  color: #edac1f !important;
  font-weight: bold;
}

.nav-colored a {
  color: black !important;
}

.nav-transparent {
  background-color: transparent !important;
}

.hero {
  background: #333 url("https://i.ibb.co/d7KDHFW/hero.png") no-repeat center center/cover;
  color: #fff;
  min-height: 700px;
  position: relative;
}

.hero .hero-content {
  display: flex;
  align-items: center;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: right !important;
  height: 100%;
  line-height: 1.4;
}

.hero .hero-content .hero-container {
  max-width: 600px;
  margin: 0 4rem;
}

.hero .hero-content .hero-container h1 {
  line-height: 1.5;
  margin-bottom: 3rem;
}

.hero .hero-content .hero-container h5 {
  margin-bottom: 2rem;
}

.hero .hero-content .hero-container a {
  width: 20%;
}

#slider {
  height: 300px;
  width: 100%;
  margin-top: -130px;
}

#slider .slider-container {
  float: left;
  direction: ltr;
}

#slider .slider-container .slider-content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#slider .slider-container .navs {
  padding-bottom: 50px;
}

#slider .slider-container .navs .slider_nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

#slider .slider-container .navs p,
#slider .slider-container .navs span {
  font-size: 1.2rem;
}

#slider .slider-items {
  width: 100%;
  height: 300px;
}

#slider .slider-items .slider-item {
  padding: 0;
}

#slider .slider-items .slider-item img {
  width: 300px;
  height: 300px;
  padding: 0;
}

.arabian-horses {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.arabian-horses-items {
  width: 100%;
  padding-top: 55px !important;
}

.arabian-horses-items_item {
  max-width: 100%;
}

.arabian-horses-items_item img {
  width: 50px;
  height: auto;
}

.horses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background-color: #f9f9f9;
}

.horses_title {
  margin-top: 40px;
}

.horses .btn-filters li {
  background-color: #cbcbcb;
  margin: 0 5px;
  color: #fff;
  padding: 2px 20px;
}

.horses .btn-filters .active {
  background-color: #edac1f !important;
}

.horses_location {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
}

.horses_location li {
  padding: 0 8px;
}

.horses_items__content {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 15px;
  z-index: 3;
}

.horses_items__content h5 a {
  color: #fff;
  text-decoration: none;
}

.horses_items__content__tags {
  display: flex;
}

.horses_items__content__tags li {
  color: #7f7f7f;
  background-color: #fff;
  border-radius: 20px;
  padding: 2px 10px;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.horses .card {
  border: none !important;
}

.overlay {
  position: absolute;
  top: 0;
  left: 16px;
  width: 92%;
  z-index: 2;
  height: 100%;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
}

.news {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  flex-direction: column;
}

.news_title {
  text-align: center;
}

.news .btn-filters li {
  background-color: #cbcbcb;
  margin: 0 5px;
  color: #fff;
  padding: 2px 20px;
}

.news .btn-filters .active {
  background-color: #edac1f !important;
}

.news .news_items__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 1;
  flex-grow: 1;
  margin: 10px 0;
}

.news .news_items__item .news_img {
  width: 100%;
  height: 100%;
}

.news .news_items__item img {
  height: 200px;
  width: 210px;
}

.news .news_items__item .news_content {
  padding-right: 15px;
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.subscribe {
  background: #333 url("https://i.ibb.co/Gf6CXw2/subscribe.png") no-repeat center center/cover;
  color: #fff;
  margin-top: 60px;
  height: 450px;
  position: relative;
}

.subscribe-items {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.subscribe .subscribe-content {
  justify-content: center;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.subscribe .subscribe-content h3,
.subscribe .subscribe-content h6 {
  margin: 20px auto;
}

.subscribe .subscribe-form {
  direction: ltr;
  display: flex;
}

.subscribe .subscribe-form .subscribe-btn {
  border: 1px solid #fff;
  background-color: #edac1f;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.subscribe .subscribe-form .subscribe-btn:hover {
  background-color: #f1bd4e;
}

.footer .footer-logo-section img {
  width: 180px;
  height: auto;
  margin-bottom: 30px;
}

.footer li {
  padding: 10px 0;
}

.footer li a {
  color: #ababab;
  text-decoration: none;
}

.footer li i {
  color: #ababab;
}

.footer .footer-contents {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.footer .footer-sections {
  display: flex;
  justify-content: center;
}

.footer .footer-sections .section-3,
.footer .footer-sections .section-2,
.footer .footer-sections .section-1 {
  padding: 0 30px;
}

.footer .section-3 select {
  border: 1px solid #ababab;
  border-radius: 3px;
  padding: 5px 25px;
  color: #ababab;
}

.footer .section-3 .btn-lang {
  border: 1px solid #ababab;
  border-radius: 3px;
  padding: 5px 25px;
  color: #ababab;
}

.footer .section-3 .dropdown-toggle::after {
  margin: 0 10px;
}

.footer .section-3 .dropdown-menu.show .dropdown-item {
  color: #ababab !important;
}

.footer .last-row {
  background-color: #f8f8f8;
}

.footer .madeby-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .madeby-items .madeby-item p {
  margin-bottom: 0;
}

.footer .madeby-items .madeby-item img {
  width: 30px;
  height: 30px;
}

.footer .madeby-items ul {
  flex-direction: row;
  display: flex;
  margin-bottom: 0;
}

.footer .madeby-items ul li i {
  padding: 0 12px;
  color: #212121;
}

.navbar-light .navbar-toggler-icon {
  border: 2px solid #fff !important;
}

@media screen and (max-width: 414px) {
  footer .footer-contents img {
    width: 70%;
    height: auto;
  }
  footer .footer-sections {
    display: flex;
    flex-direction: column;
  }
  footer .madeby-items {
    flex-direction: column;
    margin-top: 30px;
  }
  footer .footer-logo-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
  }
  .news .news_items__item {
    flex-direction: column;
    padding: 20px 15px;
  }
  .news .news_items__item img {
    width: 100%;
    border-radius: 10px;
  }
  .hero .hero-content .hero-container h1 {
    font-size: 20px;
  }
  .hero .hero-content .hero-container h5 {
    font-size: 14px;
  }
  .hero .hero-content .hero-container a {
    width: 60%;
  }
  nav .navbar-brand img {
    width: 100px;
  }
  nav .navbar-brand .scroll-img {
    width: 100px;
  }
  nav .navbar-brand .scroll-img img {
    width: 100px;
  }
  nav a {
    text-align: center !important;
  }
  nav .nav-main li {
    border-bottom: 1px solid #fff;
    padding: 10px 0;
  }
  .nav-transparent {
    background: rgba(0, 0, 0, 0.9) !important;
  }
  .nav-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }
  .nav-social li a {
    padding: 0 12px;
  }
}

.secondary-nav {
  background-color: #fff !important;
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.35);
}

.secondary-nav a {
  color: #212121 !important;
}

.secondary-nav .navbar-brand img {
  width: 130px;
}

.secondary-nav .nav-secondary-main li a {
  color: #212121 !important;
}

.secondary-nav .nav-social li a {
  color: #edac1f !important;
}

.secondary-nav .nav-item {
  padding: 0 20px;
}

.secondary-nav .nav-item.active a {
  color: #edac1f !important;
  font-weight: bold;
}

.element::after {
  display: block;
  content: '';
  clear: both;
}

.section-hero {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-hero > div {
  width: 50%;
}

.section-hero .aboutus-img {
  text-align: left;
}

.section-hero .aboutus-img img {
  width: 500px;
  height: auto;
}

.section-hero__content {
  padding-right: 50px;
}

.section-hero__title {
  color: #edac1f;
  margin-bottom: 35px;
}

.section-hero__text {
  color: #212121;
}

.uniform {
  margin-top: 55px;
}

.uniform h1 {
  text-align: center;
}

.uniform img {
  width: 70%;
  height: auto;
}

.uniform-content {
  justify-content: center;
  align-items: center;
}

.uniform-content__img.left {
  text-align: left;
}

.uniform-content__img.right {
  text-align: right;
}

.uniform-content__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.uniform-content__text p {
  color: #ababab;
  margin-top: 30px;
}

.uniform-content__text h2 {
  color: #212121;
  margin-bottom: 20px;
}

.advantages h1 {
  text-align: center;
}

.advantages img {
  width: 100%;
  height: auto;
}

.advantages h3,
.advantages p {
  text-align: right;
}

.gallery .main-img img {
  width: 94%;
  height: auto;
  padding-bottom: 25px;
}

.gallery .sub-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.gallery .sub-gallery img {
  width: 100%;
  height: auto;
  padding-bottom: 25px;
}

.gallery .btn-filters li {
  background-color: #cbcbcb;
  margin: 0 5px;
  color: #fff;
  padding: 2px 20px;
}

.gallery .btn-filters .active {
  background-color: #edac1f !important;
}

@media screen and (max-width: 414px) {
  .section-hero {
    flex-direction: column;
    margin-top: 150px;
  }
  .section-hero > div {
    width: 100%;
  }
  .section-hero__content {
    padding: 15px;
    text-align: justify;
  }
  .section-hero .aboutus-img img {
    width: 100%;
  }
  .gallery .btn-filters li {
    width: 100%;
    margin: 5px auto !important;
  }
  .btn-filters li {
    width: 100%;
    margin: 5px auto !important;
  }
}

.active-horses {
  margin-top: 120px;
}

.active-horses h2 {
  margin-top: 50px;
}

.active-horses .pagination .btn-more {
  background-color: #edac1f;
  color: #fff;
  width: 20%;
  margin: 30px auto;
}

.gallery .gallery-img img {
  transition: all 0.3s ease;
  cursor: pointer;
}

.gallery-sliders {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.gallery-sliders .image:first-child {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
}

.gallery-sliders .image:last-child {
  grid-row: 3 / span 2;
  grid-column: 3 / span 2;
}

.gallery-sliders .image span {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.gallery-sliders .image img {
  width: 100%;
  vertical-align: middle;
  transition: all 0.3s ease;
}

.gallery-sliders .image:hover img {
  transform: scale(1.1);
}

.preview-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  background: #fff;
  max-width: 700px;
  width: 100%;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  border-radius: 3px;
  padding: 0 5px 5px 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.preview-box.show {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s ease;
  height: 100vh;
  z-index: 555;
}

.preview-box .details {
  display: flex;
  align-items: center;
  padding: 12px 15px 12px 10px;
  justify-content: space-between;
}

.preview-box .details .title {
  display: flex;
  font-size: 18px;
  font-weight: 400;
}

.details .title p {
  margin: 0 5px;
}

.details .title p.current-img {
  font-weight: 500;
}

.details .icon {
  color: #007bff;
  font-size: 20px;
  cursor: pointer;
}

.preview-box .image-box {
  display: flex;
  width: 100%;
  position: relative;
}

.image-box .slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  height: 50px;
  width: 60px;
  line-height: 50px;
  text-align: center;
  border-radius: 3px;
}

.slide.prev {
  left: 0px;
}

.slide.next {
  right: 0px;
}

.image-box img {
  width: 100%;
  height: 90%;
  border-radius: 0 0 3px 3px;
}

.shadow {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: none;
  background: rgba(0, 0, 0, 0.45);
}

@media (max-width: 1000px) {
  .gallery-sliders .image {
    width: calc(100% / 2);
  }
}

@media (max-width: 600px) {
  .gallery-sliders .image {
    width: 100%;
    padding: 4px;
  }
}

@media screen and (max-width: 414px) {
  .gallery-sliders {
    display: flex;
    flex-direction: column;
  }
}

.contactus-container {
  max-width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 116px;
}

.contactus-container .contactus-img {
  max-width: 600px;
}

.contactus-container .contactus-img img {
  width: 100%;
}

.contactus-container .contactus-content {
  padding: 40px;
}

.contactus-container .contactus-content h1 {
  color: #212121;
}

.contactus-container .contactus-content p {
  color: #ababab;
}

.contactus-container .contactus-content .contactus-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contactus-container .contactus-content .contactus-form .control-group {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.contactus-container .contactus-content .contactus-form input[type='text'],
.contactus-container .contactus-content .contactus-form input[type='email'],
.contactus-container .contactus-content .contactus-form textarea {
  padding: 12px;
  margin: 5px;
  border: 1px solid #d2d2d2;
  background-color: #f9f9f9;
  border-radius: 3px;
}

.contactus-container .contactus-content .contactus-form input[type='submit'] {
  padding: 7px 12px;
  margin: 10px 5px;
  border-radius: 3px;
  border: 1px solid #edac1f;
  background-color: #edac1f;
  color: #fff;
}

.contactus-container .contactus-content .contactus-form input:focus {
  border: 2px solid #edac1f;
  outline: #edac1f;
  box-shadow: 1px 3px 15px 5px rgba(0, 0, 0, 0.15);
}

.contactus-container .contactus-content .contactus-form textarea:focus {
  border: 2px solid #edac1f;
  outline: #edac1f;
  box-shadow: 1px 3px 15px 5px rgba(0, 0, 0, 0.15);
}

.contactus-container .contactus-content .contactus-form input[type='submit'] {
  cursor: pointer;
}

.contactus-container .contactus-content .contactus-form ::placeholder {
  color: #ababab;
}

.contactus-subscribe {
  margin-top: 0;
}

@media (max-width: 414px) {
  .contactus-container {
    display: flex;
    flex-direction: column-reverse;
  }
}

.single-horses {
  margin-top: 150px;
}

.single-horses_menu li:last-child a {
  color: #edac1f;
  font-weight: bold;
  pointer-events: none;
}

.single-horses_menu li a {
  color: #212121;
  text-decoration: none;
}

.single-horses .gallery .gallery-sliders {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.single-horses .gallery .gallery-sliders .image:first-child {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
}

.single-horses .gallery .gallery-sliders .image:last-child {
  grid-row: 2 / span 1;
  grid-column: 3 / span 1;
}

.single-horses .horse-info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
  margin-top: 30px;
}

.single-horses .horse-info .section p {
  color: #ababab;
  text-align: justify;
}

.single-horses .horse-info .section-title {
  background-color: #f7f7f7;
  padding: 5px;
  text-align: center;
}

.single-horses .horse-info_group {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #f7f7f7;
}

.single-horses .horse-info_group .att {
  color: #edac1f;
}

.single-horses .horse-info_group h6 {
  padding: 10px 15px;
}

.single-horses .champs {
  overflow: auto;
  max-height: 300px;
}

.single-horses .champs table th,
.single-horses .champs table td {
  padding: 30px 10px;
}

.single-horses .champs table .tbl-year {
  background-color: #edac1f;
  border-color: #edac1f;
}

.single-horses .champs table .tbl-body tr {
  background-color: rgba(0, 0, 0, 0.05);
  border-bottom: 5px solid #fff;
}

.single-horses .champs table .tbl-body tr td:first-child {
  color: #fff;
  font-weight: bold;
  background-color: #b9b9b9;
}

.single-horses .champs table .tbl-body tr td:last-child {
  color: #edac1f;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.champ-title {
  margin: 3rem auto;
}

.pedigree {
  margin-top: 60px !important;
}

.pedigree .pedigree-subtitle {
  color: #ababab;
  text-align: center;
  padding-top: 20px;
}

.tree__container__step__card p {
  border-radius: 25px;
}

.tree__container__step__card p {
  color: #edac1f;
}

p#card_3,
p#card_7,
p#card_5 {
  background-color: #edac1f;
  color: #fff;
}

/* responsive Tree */
#wrapper1 {
  margin: 10px auto;
  max-width: 80em;
}

#container1 {
  float: left;
  padding: 1em;
  width: 100%;
  font-size: 1.75rem;
}

ol.organizational-chart,
ol.organizational-chart ol,
ol.organizational-chart li,
ol.organizational-chart li > div {
  position: relative;
}

ol.organizational-chart,
ol.organizational-chart ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

ol.organizational-chart {
  text-align: center;
}

ol.organizational-chart ol {
  padding-top: 1em;
}

ol.organizational-chart ol:before,
ol.organizational-chart ol:after,
ol.organizational-chart li:before,
ol.organizational-chart li:after,
ol.organizational-chart > li > div:before,
ol.organizational-chart > li > div:after {
  background-color: #b7a6aa;
  content: '';
  position: absolute;
}

ol.organizational-chart ol > li {
  padding: 1em 0 0 1em;
}

ol.organizational-chart > li ol:before {
  height: 1em;
  left: 50%;
  top: 0;
  width: 3px;
}

ol.organizational-chart > li ol:after {
  height: 3px;
  left: 3px;
  top: 1em;
  width: 50%;
}

ol.organizational-chart > li ol > li:not(:last-of-type):before {
  height: 3px;
  left: 0;
  top: 2em;
  width: 1em;
}

ol.organizational-chart > li ol > li:not(:last-of-type):after {
  height: 100%;
  left: 0;
  top: 0;
  width: 3px;
}

ol.organizational-chart > li ol > li:last-of-type:before {
  height: 3px;
  left: 0;
  top: 2em;
  width: 1em;
}

ol.organizational-chart > li ol > li:last-of-type:after {
  height: 2em;
  left: 0;
  top: 0;
  width: 3px;
}

ol.organizational-chart li > div {
  background-color: #fff;
  border-radius: 3px;
  min-height: 2em;
  padding: 0.5em;
}

/*** PRIMARY ***/
ol.organizational-chart > li > div {
  background-color: #a2ed56;
  margin-right: 1em;
}

ol.organizational-chart > li > div:before {
  bottom: 2em;
  height: 3px;
  right: -1em;
  width: 1em;
}

ol.organizational-chart > li > div:first-of-type:after {
  bottom: 0;
  height: 2em;
  right: -1em;
  width: 3px;
}

ol.organizational-chart > li > div + div {
  margin-top: 1em;
}

ol.organizational-chart > li > div + div:after {
  height: calc(100% + 1em);
  right: -1em;
  top: -1em;
  width: 3px;
}

/*** SECONDARY ***/
ol.organizational-chart > li > ol:before {
  left: inherit;
  right: 0;
}

ol.organizational-chart > li > ol:after {
  left: 0;
  width: 100%;
}

ol.organizational-chart > li > ol > li > div {
  background-color: #83e4e2;
}

/*** TERTIARY ***/
ol.organizational-chart > li > ol > li > ol > li > div {
  background-color: #fd6470;
}

/*** QUATERNARY ***/
ol.organizational-chart > li > ol > li > ol > li > ol > li > div {
  background-color: #fca858;
}

/*** QUINARY ***/
ol.organizational-chart > li > ol > li > ol > li > ol > li > ol > li > div {
  background-color: #fddc32;
}

/*** MEDIA QUERIES ***/
@media only screen and (min-width: 64em) {
  ol.organizational-chart {
    margin-left: -1em;
    margin-right: -1em;
  }
  /* PRIMARY */
  ol.organizational-chart > li > div {
    display: inline-block;
    float: none;
    margin: 0 1em 1em 1em;
    vertical-align: bottom;
  }
  ol.organizational-chart > li > div:only-of-type {
    margin-bottom: 0;
    width: calc((100% / 1) - 2em - 4px);
  }
  ol.organizational-chart > li > div:first-of-type:nth-last-of-type(2),
  ol.organizational-chart > li > div:first-of-type:nth-last-of-type(2) ~ div {
    width: calc((100% / 2) - 2em - 4px);
  }
  ol.organizational-chart > li > div:first-of-type:nth-last-of-type(3),
  ol.organizational-chart > li > div:first-of-type:nth-last-of-type(3) ~ div {
    width: calc((100% / 3) - 2em - 4px);
  }
  ol.organizational-chart > li > div:first-of-type:nth-last-of-type(4),
  ol.organizational-chart > li > div:first-of-type:nth-last-of-type(4) ~ div {
    width: calc((100% / 4) - 2em - 4px);
  }
  ol.organizational-chart > li > div:first-of-type:nth-last-of-type(5),
  ol.organizational-chart > li > div:first-of-type:nth-last-of-type(5) ~ div {
    width: calc((100% / 5) - 2em - 4px);
  }
  ol.organizational-chart > li > div:before,
  ol.organizational-chart > li > div:after {
    bottom: -1em !important;
    top: inherit !important;
  }
  ol.organizational-chart > li > div:before {
    height: 1em !important;
    left: 50% !important;
    width: 3px !important;
  }
  ol.organizational-chart > li > div:only-of-type:after {
    display: none;
  }
  ol.organizational-chart > li > div:first-of-type:not(:only-of-type):after,
  ol.organizational-chart > li > div:last-of-type:not(:only-of-type):after {
    bottom: -1em;
    height: 3px;
    width: calc(50% + 1em + 3px);
  }
  ol.organizational-chart > li > div:first-of-type:not(:only-of-type):after {
    left: calc(50% + 3px);
  }
  ol.organizational-chart > li > div:last-of-type:not(:only-of-type):after {
    left: calc(-1em - 3px);
  }
  ol.organizational-chart > li > div + div:not(:last-of-type):after {
    height: 3px;
    left: -2em;
    width: calc(100% + 4em);
  }
  /* SECONDARY */
  ol.organizational-chart > li > ol {
    display: flex;
    flex-wrap: nowrap;
  }
  ol.organizational-chart > li > ol:before,
  ol.organizational-chart > li > ol > li:before {
    height: 1em !important;
    left: 50% !important;
    top: 0 !important;
    width: 3px !important;
  }
  ol.organizational-chart > li > ol:after {
    display: none;
  }
  ol.organizational-chart > li > ol > li {
    flex-grow: 1;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
  }
  ol.organizational-chart > li > ol > li:only-of-type {
    padding-top: 0;
  }
  ol.organizational-chart > li > ol > li:only-of-type:before,
  ol.organizational-chart > li > ol > li:only-of-type:after {
    display: none;
  }
  ol.organizational-chart > li > ol > li:first-of-type:not(:only-of-type):after,
  ol.organizational-chart > li > ol > li:last-of-type:not(:only-of-type):after {
    height: 3px;
    top: 0;
    width: 50%;
  }
  ol.organizational-chart > li > ol > li:first-of-type:not(:only-of-type):after {
    left: 50%;
  }
  ol.organizational-chart > li > ol > li:last-of-type:not(:only-of-type):after {
    left: 0;
  }
  ol.organizational-chart > li > ol > li + li:not(:last-of-type):after {
    height: 3px;
    left: 0;
    top: 0;
    width: 100%;
  }
}

@media screen and (max-width: 414px) {
  .show-tree {
    display: none;
  }
  ol.organizational-chart > li > div {
    background: #ffffff;
    border: 2px solid #b7a6aa;
  }
  ol.organizational-chart > li > ol > li > div {
    background: rgba(183, 166, 170, 0.2);
    border: 2px solid #b7a6aa;
  }
  ol.organizational-chart > li > ol > li > ol > li > div {
    background: #ffffff;
    border: 2px solid #b7a6aa;
  }
}

@media screen and (min-width: 768px) {
  .hide-tree {
    display: none;
  }
}

@media screen and (max-width: 414px) {
  .single-horses .gallery .gallery-sliders {
    grid-gap: 3px;
  }
  .single-horses .horse-info {
    display: flex;
    flex-direction: column;
  }
}
